{% extends "home.html" %}
{% block content %}

    <h1 class="text-center my-4">Stock History</h1>

    {% if stock_list %}
        <div class="container">
            <div class="card bg-transparent border-success my-3">
                <div class="card-body">
                    <table class="table table-striped text-center">
                        <thead>
                        <tr>
                            <th scope="col">Sr. No.</th>
                            <th scope="col">Vendor Name <a href="?order_by=vendor&direction=asc"><i
                                    class="fa-solid fa-arrow-up up"></i></a><a href="?order_by=vendor&direction=desc"><i
                                    class="fa-solid fa-arrow-down down"></i></a></th>
                            <th scope="col">Product Name <a href="?order_by=products&direction=asc"><i
                                    class="fa-solid fa-arrow-up up"></i></a><a href="?order_by=products&direction=desc"><i
                                    class="fa-solid fa-arrow-down down"></i></a></th>
                            <th scope="col">Quantity <a href="?order_by=quantity&direction=asc"><i
                                    class="fa-solid fa-arrow-up up"></i></a><a href="?order_by=quantity&direction=desc"><i
                                    class="fa-solid fa-arrow-down down"></i></a></th>
                            <th scope="col">Total Price <a href="?order_by=total_price&direction=asc"><i
                                    class="fa-solid fa-arrow-up up"></i></a><a
                                    href="?order_by=total_price&direction=desc"><i
                                    class="fa-solid fa-arrow-down down"></i></a></th>
                            <th scope="col">Date Created <a href="?order_by=date&direction=asc"><i
                                    class="fa-solid fa-arrow-up up"></i></a><a
                                    href="?order_by=date&direction=desc"><i
                                    class="fa-solid fa-arrow-down down"></i></a>
                        </tr>
                        </thead>
                        <tbody>
                        {% for stock in stock_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ stock.vendor }}</td>
                                <td>{{ stock.products }}</td>
                                <td>{{ stock.quantity }}</td>
                                <td>{{ stock.total_price }}</td>
                                <td>{{ stock.date }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    {% else %}
        <p class="text-center">No Stock are available.</p>
    {% endif %}

{% endblock content %}