{% extends "home.html" %}
{% block content %}

    <h1 class="text-center my-5">Category</h1>

    {% if category_list %}
        <div class="container">
            <div class="row">
                {% for x in category_list %}
                    <div class="col-3">
                        <div class="card bg-transparent border-success my-3">
                            <div class="card-body text-center">
                                {{ x.name }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <p class="text-center">No Category is available.</p>
    {% endif %}

{% endblock content %}
