{% extends "home.html" %}
{% block content %}

    <h1 class="text-center my-3">Order Details of {{ orders.name }}</h1>

    {% if orders %}
        <div class="container">
            <div class="card bg-transparent border-success my-3">
                <div class="card-body">
                    <table class="table table-striped text-center">
                        <thead>
                        <tr>
                            <th scope="col">Sr. No.</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Order Quantity</th>
                            <th scope="col">Product Price</th>
                            <th scope="col">Total Price</th>
                            <th scope="col">Discount Price</th>
                            <th scope="col">Final Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for ord in object.orderdetails_set.all %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ ord.product.name }}</td>
                                <td>{{ ord.quantity }}</td>
                                <td>{{ ord.product.price }}</td>
                                <td>{{ ord.total_price }}</td>
                                <td>{{ ord.discount_price }}</td>
                                <td>{{ ord.final_price }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                <h6 style="text-align: center">Total Bill: {{ orders.total }}</h6>
                </div>
            </div>
        </div>
    {% else %}
        <p class="text-center">No Orders are available.</p>
    {% endif %}
{% endblock content %}